* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #F3F0EB;
  margin: 0;
  width: 100%;
}

section {
  padding: 10%;
}

/*TYPOGRAPHY*/

/* unvisited link */
a:link {
  color: #EABBAE;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #F3F0EB;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #DA9255;
  text-decoration: underline;
}

p {
  color: #053B59;
  font-family: 'Poppins';
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 1rem 0 1rem 0;
}

h1 {
  color: #16559D;
  font-family: 'Poppins';
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 6rem;
}

h2 {
  color: #16559D;
  font-family: 'Beth Ellen';
  font-size: 3.2rem;
  line-height: 3.2rem;
}

h3 {
  color: #053B59;
  font-family: 'Poppins';
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 4rem;
  padding-bottom: 1rem;
}

h4 {
  color: #053B59;
  font-family: 'Poppins';
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.6rem;
}

h5 {
  color: #C06D5B;
  font-family: 'Walter Turncoat';
  font-size: 2.4rem;
  line-height: 3.6rem;
}

h6 {
  color: #053B59;
  font-family: 'Poppins';
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 3rem;
  padding: 2rem 0 2rem 0;
}


/*structure of site*/

.page-container {
  margin: 0;
  width: 100%;

}

/*header +nav */ /*Style Navigation Menu */

.nav-container{
  margin: 0;
  padding: 2rem;
  position: fixed;
  top: 0;
  transition: top 0.3s;
  width: 100%;
  z-index: 1;
}


.overlay {
  background-image: url('../assets/old/inkfill.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow-x: hidden; /* Disable horizontal scroll */
  position: fixed; /* Stay in place */
  right: 0;
  top: 0;
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  width: 0;
  z-index: 1; /* Sit on top */
}


/* Hide the links inside the navigation menu (except for logo/home) */

.myLinks {
  top: 15%;
  right: 0;
  position: relative;
  width: 100%; /* 100% width */
  text-align: right; /* Centered text/links */
}

/* Style navigation menu links */
.myLinks a {
  color: #EABBAE;
  display: block;
  font-family: 'Walter Turncoat';
  font-size: 2.4rem;
  line-height: 3rem;
  padding: 1rem 4rem 1rem 1rem;
  text-decoration: none;
  transition: 0.3s;
}

.myLinks a:hover {
  color: #DA9255;
  text-decoration: underline;
}

.overlay .closebtn {
  position: absolute;
  right: 0;
  top: -3rem;

}

/* Style the hamburger menu */
.hamburger {
  display: inline;
  padding: 10%;
  position: absolute;
  right: 0;
  top: 0;
}

/*main content of page*/

.content-container {
  margin: 0;
  width: 100%;
}

/*all buttons follow this code*/

button {
  background: none;
  border: none;
  color: #F3F0EB;
  cursor: pointer;
  font-family: 'Walter Turncoat';
  font-size: 2.4rem;
  line-height: 3.6rem;
  padding: 12rem;
  text-align: left;
  text-decoration: none;
}

/*sections of page*/

/*intro*/

.hero {
  background-image: url('../assets/shapes/largepinkbackground.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50%;
  width: 100%;
}

.paragraph {
  padding: 5% 0 0 0;
}

/*button with orange fill background and white text, also used on about and project pages*/

.orange-button {
  align-items: center;
  background-image: url('../assets/buttons/clementinefill.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  width: 100%;
}

/*menu of 5 offerings, what I can do*/

.offerings {
  background-color: #053B59;
  padding-top: 20rem;
  width: 100%;
}

/*changes text to white*/

.white {
  color: #F3F0EB;
  line-height: 4rem;
}

.service {
  display: inline-block;
  width: 100%;
}

.webdesign,
.brand,
.ecomm,
.test,
.smallbiz {
  padding: 10%;
}

/*describes the service*/

ul.description {
  color: #F3F0EB;
  display: inline-block;
  font-family: 'Poppins';
  font-size: 2rem;
  line-height: 2.4rem;
  list-style-image: url('../assets/shapes/offwhitedot.svg');
  list-style-position: outside;
  padding: 1rem;
  text-align: left;
}

/*bullet points of the description*/

li {
  padding: 1rem 0 1rem 0;
}

/*button with white line + white text, good for dark background*/

.white-button {
  align-items: center;
  background-image: url('../assets/buttons/offwhiteline2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

/*step-by-step outline of the process*/

.howitworks {
  background-color: #F1DBD4;
  padding-top: 20rem;
  width: 100%;
}

.step {
  padding: 2rem 2rem 0 0;
}

/*button with red line + text, white background*/

.redline-button {
  align-items: center;
  background-image: url('../assets/buttons/redwhitecircle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
}

/*class turns text red*/

.red {
    color: #C06D5B;
}

/*testimonial section*/

.testimonials {
  padding-top: 20%;
  width: 100%;
}

/*class turns text blue*/

.blue {
  color: #16559D;
  padding: 2rem 0 2rem 0;
}

/*class turns text to H2 on buttons*/

.fancy {
  font-family: 'Beth Ellen';
  font-size: 3.2rem;
  line-height: 4rem;
  margin:auto;
}

/*button with red background, white fancy text*/

.redfill-button {
  align-items: center;
  background-image: url('../assets/buttons/redfill.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
}

/*recent projects section*/

.recent {
  background-image: url('../assets/shapes/recentbackground.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: 100%;
}


.grid-container {
  display: grid;
  grid-template-areas:
  " .one one "
  ".."
  "two two. "
  ".."
  " .three three"
  ".."
  "four four. "
  ".."
  " .five five"
  ".."
  "six six. ";
}

.recproj {
  padding: 20% 0 20% 0;
}

.project {
  background-image: url('../assets/buttons/redpinkcircle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.one {
  padding: 3rem;
  transform: translate(-15%, 10%);

}

.two {
  padding: 3rem;
  transform: translate(0, 10%);

}

.three {
  padding: 4rem;
  transform: translate(-15%, 10%);

}

.four {
  padding: 3rem;
  transform: translate(0, 10%);

}

.five {
  padding: 4rem;
  transform: translate(-15%, 8%);

}

.six {
  padding: 3rem;
  transform: translate(0, 10%);

}

/* link to project with red line + text, pink fill, takes to case studies */

.pinkline {
  align-items: center;
  display:flex;
  justify-content: center;
  padding: 5rem;
}

/* about page styling */


.about {
  padding-top: 13rem;
  width: 100%;

}

.biopic {
  width: 100%;
}

.connect-button {
  align-items: center;
  background-image: url('../assets/buttons/clementinefill.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 15rem;
  justify-content: center;
}

/* case study /project page styling */

.case-study-intro {
  background-color: #F1DBD4;
  padding: 50% 10% 30% 10%;
  width: 100%;
}

.proto-frame1 {
  display: none;
}

.case-button {
  align-items: center;
  background-image: url('../assets/buttons/clementinefill.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 15rem;
  justify-content: center;
}

.challenge {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.proto-frame2 {
  width: 100%;
}

.user-photo {
  display: none;
}

.title {
  padding: 2rem 0 2rem 0;
}

.roles {
  align-items: flex-start;
  color: #16559D;
  display:flex;
  flex-direction: column;
  font-family: 'Poppins';
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 2rem;
}

.description1 {
  align-items: flex-start;
  color: #053B59;
  display:flex;
  flex-direction: column;
  font-family: 'Poppins';
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem;
}

/* orange script with line button for readers to view full reports */

.ProjectCTA {
  color: #DA9255;
  font-family: 'Beth Ellen';
  font-size: 2rem;
  line-height: 3.6rem;
  padding: 2rem 2rem 2rem 0;
  position: relative;
  text-align: left;
}

.ProjectCTA img {
  display: block;
  width: 100%;
}

.description2 {
  align-items: flex-start;
  color: #053B59;
  display:flex;
  flex-direction: column;
  font-family: 'Poppins';
  font-size: 2rem;
  font-weight: 300;
  line-height: 2rem;
}

.proto {
   width: 100%;
 }

 .protovideomobile {
   align-items: center;
   display: flex;
   grid-area: protovideomobile;
   justify-content: center;
   padding: 10%;
   position: relative;
}

 .phoneframe {
   position: absolute;
   z-index: -1;
   width: 100%;
 }

 .conclusion {
   padding: 10% 5% 5% 5%;
 }


/* footer */

footer {
  background-color: #053B59;
  color: #F3F0EB;
  font-family: 'Poppins';
  font-size: 2rem;
  line-height: 3.6rem;
  padding: 3rem;
}

address {
  font-family: 'Walter Turncoat';
  line-height: 4rem;
}

/* media queries */

@media screen and (min-width: 320px) {
    .page-container {
      width: 100%;
    }


    .logodesk {
      display: none;
    }

    .logomobile {
      display: inline-block;
      font-size: 2rem;
    }

    .content-container img {
      width: 100%;
    }

    .desk-links {
      display: none;
    }

  }

@media screen and (min-width: 768px) {
  .page-container {
    width: 100%;
  }

  .logodesk {
    display: none;
  }

  .logomobile {
    display: inline-block;
    font-size: 2rem;

  }

  .overlay {
    background-image: url('../assets/old/inkfill.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    overflow-x: hidden; /* Disable horizontal scroll */
    position: fixed; /* Stay in place */
    right: 0;
    top: 0;
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    width: 0;
    z-index: 1; /* Sit on top */
  }

  .overlay .closebtn {
    position: absolute;
    right: 0;
    top: 20rem;
  }

  /* Style navigation menu links */
  .myLinks a {
    font-size: 2.4rem;
    line-height: 2rem;
    padding: 2rem;
    transform: translate(-15%,0);
  }

  .hero {
    padding-top: 20%;
  }

  .hero-container {
    width: 70%;
  }

  .orange-button {
    width: 75%;
  }

  .offerings {
    background-color: #053B59;
  }

  .services-container {
    width: 100%;
  }

  .service {
    display: inline-block;
    width: 100%;
  }

  .webdesign,
  .brand,
  .ecomm,
  .test,
  .smallbiz {
    display: block;
    float: left;
    padding: 5%;
    width: 50%;
  }

  /*describes the service*/

  ul.description {
    display: block;
    float: right;
    padding: 5%;
    width: 50%;
  }

  .white-button {
    background-position: center;
    display: block;
    text-align: center;
    width: 100%;
  }

  .howitworks {
    background-color: #EABBAE;
    background-image: url('../assets/shapes/largepinkbackground2.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-grid;
    padding: 20% 10% 5% 20%;
    width: 100%;
  }

  .redline-button {
    padding: 5%;
  }

  .redfill-button {
    max-width: 50%;
    transform: translate(100%, -50%);
  }

  .recent {
    background-image: url('../assets/old/threecircles.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 100%;
  }

  .recproj {
    padding: 5%;
    text-align: center;
  }

  .grid-container {
    display: inline-grid;
    grid-template-areas:
    "one two"
    "three four"
    "five six";
  }


  .project {
    background-image: url('../assets/buttons/redpinkcircle.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: none;
  }

  .one .two .three .four .five .six {
    padding: 3%;
    transform: none;
  }

  /* link to project with red line + text, pink fill, takes to case studies */

  .pinkline {
    align-items: flex-start;
    display:flex;
    justify-content: center;
  }

  .biopic {
    width: 75%;
  }

  .bio {
    padding: 5% 0 5% 0;
  }

  .connect-button {
    padding: 5% 20% 5% 20%;
  }

  .content-container img {
    width: 100%;
  }

  .case-button {
    grid-area: case-button;
  }

  .proto-frame1 {
    display: grid;
    grid-area: proto-frame1;
    width: 100%;
  }

  .intro {
    grid-area: intro;
  }

  .case-study-intro {
    background-color: #F3F0EB;
    background-image: url('../assets/shapes/lightpinkfill.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-areas:
    "intro proto-frame1"
    "case-button proto-frame1"
    ". proto-frame1";
    grid-template-columns: 60% 40%;
    padding: 50% 15% 20% 15%;
    width: 100%;
  }

  .challenge {
    background-color: #F1DBD4;
    display: inline-block;
    text-align: left;
    padding: 20% 10% 30% 20%;
    width: 100%;
  }

  .proto-frame2 {
    display: none;
  }

  .user-photo {
    display: inline-block;
    padding: 5%;
  }

  .title {
    grid-area: title;
    padding: 1rem 0 1rem 0;
    font-size: 2.0rem;
  }

  .roles {
    align-items: flex-start;
    color: #16559D;
    display:flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6rem;
  }

  .description1 {
    align-items: flex-start;
    color: #053B59;
    display:flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
  }

  /* orange script with line button for readers to view full reports */

  .ProjectCTA {
    color: #DA9255;
    font-family: 'Beth Ellen';
    font-size: 2.4rem;
    grid-area: ProjectCTA;
    line-height: 3.6rem;
    padding: 1rem 1rem 1rem 0;
    position: relative;
    text-align: left;
  }

  .ProjectCTA img {
    display: block;
    width: 50%;
  }

  .findings {
    grid-area: findings;
  }

  .participants {
    grid-area: participants;
  }

  .mostused {
    grid-area: mostused;
  }

  .tasks {
    grid-area: tasks;
  }

  .research {
    display: inline-grid;
    grid-template-areas:
    "participants findings"
    "mostused findings"
    "tasks findings";
    grid-template-columns: 50% 50%;
    padding: 20% 10% 15% 20%;
  }

  .analysis {
    grid-area: analysis;
  }

  .competitors {
    grid-area: competitors;
  }

  .competitive {
    display: grid;
    grid-template-areas:
    "competitors analysis";
    grid-template-columns: 50% 50%;
    padding: 15% 10% 15% 20%;
  }

  .persona {
    grid-area: persona;
  }

  .persona1-frame {
    grid-area: persona1-frame;
    padding: 1rem 1rem 0 1rem;
  }

  .persona2-frame {
    grid-area: persona2-frame;
    padding: 1rem 1rem 0 1rem;
  }

  .personas {
    align-items: flex-start;
    background-color: #F1DBD4;
    display: inline-grid;
    grid-template-areas:
    "persona ."
    "persona1-frame persona2-frame"
    "persona1-frame persona2-frame"
    "persona1-frame persona2-frame";
    grid-template-columns: 50% 50%;
    justify-content: flex-start;
    padding: 20% 10% 15% 20%;
    transform: none;
  }

  .stories {
    display: inline-block;
    padding: 20% 10% 15% 20%;
  }

  .flows {
    display: inline-block;
    padding: 20% 10% 15% 20%;
  }

  .wires {
    grid-area: wires;
    padding: 20% 5% 0% 5%;
  }

  .wirepic1 {
    grid-area: wirepic1;
    padding: 1rem;
  }

  .wirepic2 {
    grid-area: wirepic2;
    padding: 1rem;

  }

  .wirepic3 {
    display: none;
  }

  .wirepic4 {
    grid-area: wirepic4;
    padding: 1rem;
  }

  .wirepic5 {
    grid-area: wirepic5;
    padding: 1rem;
  }

  .wirepic6 {
    grid-area: wirepic6;
    padding: 1rem;
  }

  .wireframes {
    background-color: #F1DBD4;
    display: grid;
    grid-template-areas:
    "wirepic6 wirepic1 wirepic2"
    "wirepic6 wirepic4 wirepic5"
    "wires wires wires";
    grid-template-columns: 36% 30% 30%;
    padding: 20% 10% 15% 20%;
  }

  .impressions {
    grid-area: impressions;
  }

  .description2 {
    align-items: flex-start;
    color: #053B59;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1rem;
  }

  .usability {
    display: inline-grid;
    grid-gap: 5%;
    grid-template-areas:
    "title impressions"
    "tasks impressions"
    "tasks ProjectCTA";
    grid-template-columns: 30% 70%;
    padding: 20% 10% 10% 20%;
  }

  .brandpic {
    padding: 2rem 0 2rem 0;
  }

  .characteristics{
    display: inline-block;
    padding: 20% 10% 10% 20%;
  }

  .palette {
    grid-area: palette;
    padding: 2rem;
  }

  .colorpic {
    grid-area: colorpic;
    padding: 5%;
  }

  .typo {
    grid-area: typo;
    padding: 2rem;
  }

  .typepic1 {
    display: none;
  }

  .typepic2 {
    grid-area: typepic2;
    padding: 5%;
  }

  .colortype {
    display: grid;
    grid-template-areas:
    "colorpic typepic2"
    "palette typo";
    grid-template-columns: 50% 50%;
    padding: 20% 10% 10% 20%;
  }

  .process {
    grid-area: process;
    padding: 2rem;
  }

  .sketch1 {
    grid-area: sketch1;
    width: 100%;
    padding: 50% 5% 5% 5%;
  }

  .sketch2 {
    grid-area: sketch2;
    width: 100%;
    padding: 50% 5% 5% 5%;
  }

  .sketch3 {
    grid-area: sketch3;
    width: 100%;
    padding: 50% 5% 5% 5%;
  }

  .designprocess {
    display: grid;
    grid-template-areas:
    "sketch1 sketch2 sketch3"
    "process process .";
    grid-template-columns: 33% 33% 33%;
    padding-top: 20%;
  }

  .hifi {
    grid-area: hifi;
  }

  .hifi1pic {
    grid-area: hifi1pic;
    height: 100%;
    padding: 5%;
  }

  .hifi2pic {
    display: none;
  }

  .mockups {
    display: grid;
    grid-template-areas:
    ". hifi1pic"
    "hifi hifi1pic"
    ". hifi1pic";
    grid-template-columns: 40% 60%;
    padding-top: 20%;
  }

  .preference {
    display: inline-grid;
    grid-gap: 5%;
    grid-template-areas:
    "title impressions"
    "tasks impressions"
    "tasks ProjectCTA";
    grid-template-columns: 30% 70%;
    padding: 20% 10% 10% 20%;
  }

  .proto {
     grid-area: proto;
     width: 100%;
   }

   .protovideomobile {
     align-items: center;
     display: flex;
     grid-area: protovideomobile;
     justify-content: center;
     position: relative;
  }

   video {
     width: 75%;
   }

   .phoneframe {
     position: absolute;
     z-index: -1;
     width: 100%;
   }

   .conclusion {
     grid-area: conclusion;
     padding: 10%;
   }

   .end {
     display: grid;
     grid-template-areas:
     "proto ."
     "proto conclusion"
     "proto .";
     grid-template-columns: 40% 60%;
     padding: 20% 5% 20% 10%;
   }

   .desk-links {
     display: inline-block;
     width: 100%;
     z-index: 1;
   }

   .bottom-left {
     bottom: 0;
     left: 0;
     list-style-type: none;
     position: fixed;
     text-align: center;
   }

   .bottom-left li {
     display: inline-block;
     padding: 0 0 0 2rem;
   }

  ul.bottom-left a {
     color: #16559D;
     font-family: Walter Turncoat;
     font-size: 2rem;
  }

  a.bottom-right {
     bottom: 0;
     color: #16559D;
     font-family: Beth Ellen;
     font-size: 2.4rem;
     right: 0;
     padding: 0 2rem 1rem 0;
     position: fixed;
   }

}

@media screen and (min-width: 1024px) {
  .page-container {
    width: 100%;
    overflow: hidden;
  }

  .content-container {
    width: 100%;
  }

  .logomobile {
    display: none;
  }

  .logodesk {
    display: inline-block;
  }

  header {
    background: none;
    margin: 0;
    position: fixed;
    width: 100%;
  }

  .hero {
    background-image: url('../assets/shapes/lightpinkfill.svg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    padding: 25% 10% 5% 10%;
  }

  .hero-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }

  .paragraph {
    flex-direction: column;
    padding: 0 5% 0 5%;
    max-width: 50%;
    width: 100%;
  }


  .offerings {
    background-color: #053B59;
    height: 100%;
    padding: 20% 5% 10% 20%;
  }

  .services-container {
    max-width: 1024px;
    width: 100%;
  }

  .webdesign,
  .brand,
  .ecomm,
  .test,
  .smallbiz {
    padding: 8%;
  }

  .howitworks {
    background-color: #EABBAE;
    background-image: url('../assets/shapes/largepinkbackground2.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-grid;
    padding: 15% 15% 0 25%;
    width: 100%;
  }

  .step {
    margin: auto;
    max-width: 65%;
  }

  .redline-button {
    padding: 3rem;
  }

  .testimonials {
    background-color: #F1DBD4;
    background-image: url('../assets/old/largewhitebackground.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    padding: 25% 25% 0 25%;
    width: 100%;
  }

  .blue {
    grid-area: about;
    max-width: 90%;
  }

  .redfill-button {
    max-width: 65%;
    padding: 5%;
    transform: translate(50%, -30%);
  }

  /*recent projects section*/

  .recent {
    background-image: url('../assets/old/threecircles.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 100%;
  }

  .white {
    padding-top: 5rem;
  }
  .recproj {
    padding: 5%;
    text-align: center;
  }

  .grid-container {
    display: inline-grid;
    grid-template-areas:
    "one two three"
    "four five six";
  }


  .project {
    background-image: url('../assets/buttons/redpinkcircle.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 15%;
    transform: none;
  }

  .one .two .three .four .five .six {
    transform: none;
  }

  /* link to project with red line + text, pink fill, takes to case studies */

  .pinkline {
    align-items: flex-start;
    display:flex;
    justify-content: center;
  }

  /* about page styling */

  .bio {
    grid-area: bio;
    padding: 0;
  }

  .biopic {
    grid-area: biopic;
    padding: 5%;
  }

  .about {
    align-items: flex-start;
    background-image: url('../assets/shapes/lightpinkfill.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-grid;
    grid-area: blue;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 1fr;
    grid-template-areas:
    ". about ."
    ". bio biopic";
    max-width: 100%;
    padding: 20% 5% 20% 5%;
    width: 100%;
  }

  .connect-button {
    display: none;
  }

  .case-button {
    grid-area: case-button;
  }

  .proto-frame1 {
    display: grid;
    grid-area: proto-frame1;
    width: 100%;
  }

  .intro {
    grid-area: intro;
  }

  .case-study-intro {
    background-color: #F3F0EB;
    background-image: url('../assets/shapes/lightpinkfill.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template-areas:
    "intro proto-frame1"
    "case-button proto-frame1"
    ". proto-frame1";
    grid-template-columns: 50% 30%;
    padding: 20% 5% 20% 20%;
    width: 100%;
  }

  .challenge {
    background-image: url('../assets/shapes/lightpinkfill3.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0% 10% 20% 50%;
    width: 100%;
  }

  .proto-frame2 {
    display: none;
  }

  .user-photo {
    display: inline-flex;
    transform: translate(-110%, 180%);
    width: 110%;
  }

  .pic {
    width: 100%;
  }

  .title {
    grid-area: title;
    padding: 1rem 0 1rem 0;
    font-size: 2.0rem;
  }

  .roles {
    align-items: flex-start;
    color: #16559D;
    display:flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6rem;
  }

  .description1 {
    align-items: flex-start;
    color: #053B59;
    display:flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
  }

  /* orange script with line button for readers to view full reports */

  .ProjectCTA {
    color: #DA9255;
    font-family: 'Beth Ellen';
    font-size: 2.4rem;
    grid-area: ProjectCTA;
    line-height: 3.6rem;
    padding: 1rem 1rem 1rem 0;
    position: relative;
    text-align: left;
  }

  .ProjectCTA img {
    display: block;
    width: 50%;
  }

  .findings {
    grid-area: findings;
  }

  .participants {
    grid-area: participants;
  }

  .mostused {
    grid-area: mostused;
  }

  .tasks {
    grid-area: tasks;
  }

  .research {
    display: inline-grid;
    grid-template-areas:
    "participants findings"
    "mostused findings"
    "tasks findings";
    grid-template-columns: 50% 50%;
    padding: 15% 10% 15% 20%;
  }

  .analysis {
    grid-area: analysis;
  }

  .competitors {
    grid-area: competitors;
  }

  .competitive {
    display: grid;
    grid-template-areas:
    "competitors analysis";
    grid-template-columns: 50% 50%;
    padding: 15% 10% 15% 20%;
  }

  .persona {
    grid-area: persona;
    padding: 75% 2rem 0 1rem;
  }

  .persona1-frame {
    grid-area: persona1-frame;
    padding: 0 1rem 0 1rem;
    width: 100%;
  }

  .persona2-frame {
    grid-area: persona2-frame;
    padding: 0 1rem 0 1rem;
    width: 100%;
  }

  .personas {
    background-color: #F1DBD4;
    display: grid;
    grid-template-areas:
    ". persona persona1-frame persona2-frame .";
    grid-template-columns: 5% 30% 30% 30% 5%;
    padding: 10% 5% 10% 5%;
    transform: none;
  }

  .userstory {
    grid-area: userstory;
    padding: 10%;
  }

  .stories-pic {
    grid-area: stories-pic;
    width: 100%;
  }

  .stories {
    display: grid;
    grid-template-areas:
    "stories-pic userstory";
    grid-template-columns: 60% 40%;
    padding: 20% 5% 5% 5%;
  }

  .userflows {
    grid-area: userflows;
    padding: 5rem 2rem 0 0;
  }

  .flowpics {
    grid-area: flowpics;
  }

  .flows {
    display: grid;
    grid-template-areas:
    ". userflows flowpics";
    grid-template-columns: 0 40% 60%;
    padding-top: 25%;
  }

  .wires {
    grid-area: wires;
  }

  .wirepic1 {
    grid-area: wirepic1;
    padding: 1rem;
    width: 100%;
  }

  .wirepic2 {
    grid-area: wirepic2;
    padding: 1rem;
    width: 100%;

  }

  .wirepic3 {
    display: none;
  }

  .wirepic4 {
    grid-area: wirepic4;
    padding: 1rem;
    width: 100%;
  }

  .wirepic5 {
    grid-area: wirepic5;
    padding: 1rem;
    width: 100%;
  }

  .wirepic6 {
    grid-area: wirepic6;
    padding: 1rem;
    width: 100%;
  }

  .wireframes {
    background-color: #F1DBD4;
    display: grid;
    grid-template-areas:
    "wirepic1 wirepic2 wirepic6 wires"
    "wirepic4 wirepic5 wirepic6 wires";
    grid-template-columns: 20% 20% 25% 30%;
    padding: 20% 5% 10% 5%;
  }

  .impressions {
    grid-area: impressions;
  }

  .description2 {
    align-items: flex-start;
    color: #053B59;
    display:flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1rem;
  }

  .usability {
    display: inline-grid;
    grid-template-areas:
    "title . impressions"
    "tasks . impressions"
    "tasks . impressions"
    "ProjectCTA ProjectCTA .";
    grid-template-columns: 50% 5% 70%;
    padding: 20% 10% 10% 20%;
  }

  .branding {
    grid-area: branding;
    padding: 10%;
  }

  .brandpic {
    grid-area: brandpic;
    width: 100%;
  }

  .characteristics{
    display: grid;
    grid-template-areas:
    "brandpic branding";
    grid-template-columns: 60% 40%;
    padding: 20% 5% 5% 5%;
  }

  .palette {
    grid-area: palette;
    padding: 2rem;
  }

  .colorpic {
    grid-area: colorpic;
    padding: 50% 5% 0 5%;
    width: 100%;
  }

  .typo {
    grid-area: typo;
    padding: 2rem;
  }

  .typepic1 {
    grid-area: typepic1;
    width: 100%;
    padding: 5%;
  }

  .typepic2 {
    grid-area: typepic2;
    width: 100%;
    padding: 5%;
  }

  .colortype {
    display: grid;
    grid-template-areas:
    "palette colorpic typepic1"
    "typo colorpic typepic2"
    "typo . .";
    grid-template-columns: 40% 30% 30%;
    padding-top: 25%;
  }

  .process {
    grid-area: process;
    padding: 2rem;
  }

  .sketch1 {
    grid-area: sketch1;
    width: 100%;
    padding: 50% 5% 5% 5%;
  }

  .sketch2 {
    grid-area: sketch2;
    width: 100%;
    padding: 50% 5% 5% 5%;
  }

  .sketch3 {
    grid-area: sketch3;
    width: 100%;
    padding: 50% 5% 5% 5%;
  }

  .designprocess {
    display: grid;
    grid-template-areas:
    "sketch1 sketch2 sketch3 process";
    grid-template-columns: 20% 20% 20% 40%;
    padding-top: 25%;
  }

  .hifi {
    grid-area: hifi;
    padding: 5%;
  }

  .hifi1pic {
    grid-area: hifi1pic;
    height: 100%;
    padding: 20%;
  }

  .hifi2pic {
    display: none;
  }

  .mockups {
    display: grid;
    grid-template-areas:
    ". hifi1pic"
    "hifi hifi1pic"
    ". hifi1pic";
    grid-template-columns: 50% 50%;
    padding: 20% 5% 5% 5%;
  }

  .preference {
  display: inline-grid;
  grid-template-areas:
  "title impressions"
  "tasks impressions"
  "ProjectCTA impressions";
  grid-template-columns: 50% 50%;
  padding: 20% 10% 10% 20%;
  }


 .proto {
    grid-area: proto;
    width: 100%;
  }

 .protovideomobile {
    grid-area: protovideomobile;
    position: relative;
 }

  video {
    width: 100%;
  }

  .phoneframe {
    position: absolute;
    z-index: -1;
  }

  .conclusion {
    grid-area: conclusion;
    padding: 5%;
  }

  .end {
    display: grid;
    grid-template-areas:
    "proto ."
    "proto conclusion"
    "proto .";
    grid-template-columns: 50% 50%;
    padding: 20% 10% 15% 20%;
  }

}
